<div class="d-flex justify-content-center align-items-center vh-100"
     style="background: url('/images/aboutBackground.jpg') center/cover no-repeat;">

  <div class="card bg-dark text-white p-4 shadow-lg"
       style="width: 400px; border-radius: 20px;">

    <h2 class="text-center fw-bold" style="margin-bottom: 10px">Forgot Password</h2>
    <p class="text-warning text-center" style="margin-bottom: 4px">
      Enter your email to receive a verification code.
    </p>

    <form method="POST" action="/auth/forget-password">

      <div class="mb-3">
        <input name="email"
               value="{{email}}"
               class="form-control bg-dark text-white border-warning"
               placeholder="Email" />
      </div>

      {{#if error}}
        <p class="text-danger text-center">{{error}}</p>
      {{/if}}

      <button class="btn btn-warning w-100 fw-bold" type="submit">
        Continue
      </button>
    </form>

    <div class="text-center mt-3">
      <i class="bi bi-arrow-left-short"></i>
      <a href="/auth/login" class="text-warning text-decoration-underline">
        Back to Log In
      </a>
    </div>

  </div>
</div>