<div class="d-flex justify-content-center align-items-center vh-100"
     style="background: url('/images/aboutBackground.jpg') center/cover no-repeat;">

  <!-- overlay -->
  <div class="position-absolute w-100 h-100"
       style="background: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.6), rgba(0,0,0,0.9));">
  </div>

  <div class="card bg-dark bg-opacity-75 text-white p-4 shadow-lg"
       style="width: 400px; z-index: 2; border-radius: 20px;">

        <h2 class="fw-bold text-center" style="margin-bottom: 10px;">Enter your new password below</h2>


    <form method="POST" action="/auth/reset-password">
      <!-- hidden email -->
      <input type="hidden" name="email" value="{{email}}" />

      <!-- Password -->
      <div class="mb-3">
        <h5 class="text-warning" style="margin-bottom: 4px">New Password</h5>
        <input type="password"
               name="password"
               class="form-control bg-dark text-white border-warning"
               placeholder="New Password" />
      </div>

      <!-- Confirm Password -->
      <div class="mb-3">
        <h5 class="text-warning" style="margin-bottom: 4px">Confirm Password</h5>
        <input type="password"
               name="confirmPassword"
               class="form-control bg-dark text-white border-warning"
               placeholder="Confirm Password" />
      </div>

      {{#if error}}
        <p class="text-danger text-center">{{error}}</p>
      {{/if}}

      <button class="btn btn-warning w-100 fw-bold">
        Reset Password
      </button>
    </form>

    <div class="text-center mt-3">
      <i class="bi bi-arrow-left-short text-warning"></i>
      <a href="/auth/login" class="text-warning text-decoration-underline">
        Back to Login
      </a>
    </div>

  </div>
</div>